<!--The whole content below can be removed with the new code.-->
<div style="text-align:center">
  <h1>
    Welcome to {{title}}!!
  </h1>

</div>
<div style = "text-align : left" *ngIf="{{loggedIn}} == false">
    <h2>Login to Continue:</h2><br>
    <input type="text" id="uname" placeholder="Username"/><br>
    <input type="password" id="passwd" placeholder="Password"/><br>
    <button type="submit" id="loginButton">Login</button>
</div> 
<div style = "text-align : left" *ngIf="{{loggedIn}} == true">
  <button type="button" id="logoutButton">Logout</button>
 </div>  



